*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(206, 255, 239);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
}
nav img{
    width: 50px;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;

}
.text-box h2{
    margin: 70px 0 40px;
    font-size: 40;
    color: #fff;
}


/*------ vision and mision btn
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 23px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid black;
    background: #000000;
    transition: 1s;
}
--------*/
nav .fa{
    display: none;

}

@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: rgb(158, 240, 182);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*----about-----*/
/*----- About -----*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

.us{
    width: 80%;
    margin: auto;
    text-align: justify;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
@media(max-width: 700px){
    .us{
        flex-direction: column;
    }
    
}

/*----- Vision mission -----*/

.vandm{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.vimi{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.our-vm{
    flex-basis: 31%;
    background: #acecff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 30px;
}
.our-vm:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);    

}

@media(max-width: 700px){
    .vimi{
        flex-direction: column;
    }
}



/*----- units -----*/

.units{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.units-col{
    flex-basis: 31%;
    background: #b1ffc9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.units-col:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);    

}
.btn-900L{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 12px 23px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.btn-900L:hover{
    border: 1px solid black;
    background: rgb(223, 241, 227);
    transition: 1s;
}

.btn-600L{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 12px 23px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.btn-600L:hover{
    border: 1px solid black;
    background: rgb(223, 241, 227);
    transition: 1s;
}


@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    
}

/*----- 600L -----*/


.l-600L{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.pic1{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.uspic1{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.hero-btn a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 23px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(116, 116, 116);
    background: #3a3a3a;
    transition: 1s;
}
@media(max-width: 700px){
    .uspic1{
        flex-direction: column;
    }

}


/*-------contact------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.form input, .form textarea{
    width: 50%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.hero-btnred-btn{ 
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 23px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.hero-btnred-btn:hover{
    border: 1px solid rgb(255, 255, 255);
    background: #fdfdfd;
    transition: 1s;
}
 
/*-----p&v------*/
/*------Delete
.a{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
        
}
.a video{
    flex-basis: 31%;
    background: #b1ffc9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.5s;
    
}
.a video:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);    

}
----*/
.gallery{
    margin: 60px;
}
.gallery video{
    
    padding: 5px;
    filter: grayscale(80%);
    transition: 1s;
}
.gallery video:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
.gallery img{
    width: 350px;
    padding: 5px;
    filter: grayscale(80%);
    transition: 1s;
}

.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
@media(max-width: 700px){
    .gallery img{
        width: 100px;
        
    }
    
    .gallery video{
        width: 150px;
    }

}